<br>
<footer class="main-footer bg-dark" style="background-color: #3e4a61;">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline text-danger">
      Eylin Sanchez  &  Anthony Daza
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2023. <span class="text-danger">Censo El Cambio I</span> <br> <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png"/> <br> </a>Este obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">licencia de Creative Commons Reconocimiento-NoComercial 4.0 Internacional</a>.
 <a href="#" class="text-danger" ></a></strong>
  </footer>